# This is the configuration file for the vPoller loadable module.
# For more information about vPoller,
# please visit https://github.com/dnaeon/py-vpoller

### Option: vPollerTimeout
#    Specifies the timeout period for vPoller task requests.
#    The timeout value is in milliseconds.
#
# Mandatory: no
# Range: 1000-60000
# Default:
# vPollerTimeout=10000

### Option: vPollerRetries
#    Specifies how many times a vPoller task requests can be retried.
#
# Mandatory: no
# Range: 1-100
# Default:
# vPollerRetries=1

### Option: vPollerProxy
#    Specifies the vPoller Proxy endpoint to which new
#    task requests will be sent.
#
# Mandatory: no
# Default:
# vPollerProxy=tcp://localhost:10123
